[url "https://"]
    insteadOf = git://
[url "https://github.com/"]
    insteadOf = git@github.com:
[http "https://github.com"]
    proxy = http://155.55.60.117:8088/
[http]
    sslVerify = false
    postbuffer = 524288000
